.section {
    margin-inline: 5vw;
    align-items: flex-start;
    gap: 2vh;

    @media(max-width: 426px){
        margin-left: 15vw;
        // align-items: center;
    }
}

.name {
    text-align: start;
    font-size: min(10vw, 5rem);
    font-weight: 500;
    color: var(--green-faded);
}

.jobTitle {
    font-size: 4vw;
    font-weight: 500;
    color: var(--green);
}

.summary {
    font-size: 3.5vmin;
    font-weight: 300;
    color: var(--light-text);
    max-width: 85%;
}