.section {
    padding-left: 5vw;
    width: 100%;
    gap: 5vh;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    place-items: center;

}

.video {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-color: red;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-right: 2vw;

    & ul {
        font-size: 1.2rem;
        line-height: 1.5;

        & > li {
            margin-block: 1em;
        }
    }
}