.section {
    padding-left: 5vw;
    width: 100%;
}

.content {
    width: 100%;

    @media(min-width: 769px){ 
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: start;
    }
    
    @media(min-width: 1000px){ 
        grid-template-columns: 40% 60%;
    }
}

.video {
    aspect-ratio: 16 / 9;
    width: 100%;
    filter: drop-shadow(0 0 15px black);
    z-index: 0;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-right: 2vw;

    & ul {
        font-size: 2.5vmin;
        line-height: 1.5;

        & > li {
            margin-block: 1em;
        }
    }
}