.section {
    gap: 2vh;
    margin-inline: 10vw 3vw;
    
    @media(min-width: 769px){ 
        margin-inline: 5vw;
    }
}

.jobTitle {
    font-size: min(3.7vw, 2.5rem);
    font-weight: 500;
    color: var(--light-text);
    
    & > span {
        color: var(--light-text);
        font-size: min(2.5vw, 1.75rem);
        font-weight: 400;
        font-style: italic;
    }
}

.jobInfo {
    font-size: min(2.75vw, 1.25rem);
    font-weight: 400;
    color: hsla(0, 0%, 100%, 46%);
}

.projectTabs {
    display: flex;
    background-color: hsl(217, 33%, 20%);
    border-radius: 0.25em;
    overflow: hidden;
    
    & .tab {
        color: var(--light-text);
        font-size: min(4vmin, 1.5rem);
        font-weight: 600;
        padding: 0.3em 1.5em;
        border-radius: 0.2em;
        transition: transform 100ms;
        
        &.active {
            color: var(--green);
            background-color: hsla(166, 100%, 70%, 15%);

            &:hover {
                transform: none;
            }
        }
        
        &:hover {
            cursor: pointer;
            color: var(--green);
            transform: translateY(-1px);
        }
    }
}